/*	colours:
	navy: #16296f;
	light grey : #efefef;
	dark grey: #3c3c3e;
	orange: #f06449;
*/

* {
	margin: 0 auto;
}
*, *::before, *::after {
	box-sizing: inherit;
}
html {
	font-size: 100%;
	box-sizing: border-box;
}
body {
	font-size: 62.5%;
	margin: 0 auto;
	font-family: 'Open Sans', helvetica, arial, sans-serif;
	text-rendering: geometricPrecision;
}

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 30px;
}

h1 {
	font-size: 4.5em;
	color: #efefef;
	font-weight: 300;
	line-height: 0.9em;
	padding-bottom: 30px;
	position: relative;
}
h1:before {
	content: '';
	display: block;
	width: 24%;
	height: 3px;
	background: #f06449;
	position: absolute;
	top: calc(50% - 12px);
	left: 0;
	transform: translateX(-105%);
	/*left: -50%/*/
}
h2 {
	font-size: 2.5em;
	color: #efefef;
	font-weight: 300;
	padding-bottom: 65px;
}
h3 {
	font-size: 2.5em;
	color: #16296f;
	padding-bottom: 1em;
	font-weight: 700;
}
p {
	font-size: 1.5em;
	color: #3c3c3e;
	padding-bottom: 2em;
	line-height: 2;
}

.intro {
	position: relative;
	display: flex;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efefef+40,16296f+41 */	
}

.intro p {
	color: #efefef;
}

.intro__left {
	width: 45%;
	overflow: hidden;
	position: relative;
	background: #efefef;
}

.intro__right {
	width: 55%;
	padding-left: 5%;
	padding-top: 125px;
	padding-right: 30px;
	padding-bottom: 50px;
	background-color: #16296f;
	margin-left: 0;
}

.intro__left img {
	/*width: 100%;*/
	width: 460px;
	position: absolute;
	right: 7%;
	bottom: 0;
}

.intro__right h1, .intro__right h2, .intro__right p {
	max-width: 515px;
	margin-left: 0;
}

.main-copy {
	padding: 50px 0;
}

.main-copy__row {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 30px 0;
	position: relative;
}

.main-copy__text-block {
	width: 50%;
	margin: 0;
}

.one h3, .one p {
	width: 66%;
	margin-left: 0;
}

.two h3, .two p {
	width: 66%;
	margin-right: 0;
}

.left-margin__text-block h3, .left-margin__text-block p {
	margin-left: 10%;
}

.right-margin__text-block h3, .right-margin__text-block p {
	margin-right: 10%;
}

.main-copy__img-block {
	position: absolute;
	top: calc(50% - 1.5em );
	left: 0%;
	transform: translate(-50%, -50%);
	/*max-width: 342px;*/
	width: 25%;
	height: 100%;
	background-color: green;
	background-image: url('opt-imgs/people.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.main-copy__img-block::after {
	content: '?';
	display: block;
	font-weight: 700;
	font-size: 200px;
	color: rgba(255, 255, 255, 0.75);
	position: absolute;
	top: 50%;
	left: 66%;
	transform: translate(-50%, -50%);
}

/*.main-copy__img-block img {
	width: 100%;
	height: auto;
}*/

.portfolio-item {
	background-color: #efefef;
	background-size: cover;
	background-repeat: no-repeat;
}

.portfolio-item:first-child {
	background-image: url('opt-imgs/house-bg.jpg');
	background-position: right;
	border-bottom: solid #929293 3px;
}

.portfolio-item:last-child {
	background-image: url('opt-imgs/video-bg.jpg');
	background-position: left;
}

.portfolio-item .wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.portfolio__text {
	width: 33%;
	/*padding: 90px 0 60px;*/
}

.portfolio__img {
	width: 100%;
	max-width: 400px;
	margin-top: -3%;
	margin-bottom: -3%;
}
.portfolio__img img {
	width: 100%;
}

.portfolio-item:last-child .portfolio__text {
	order: 2;
}

.portfolio-item:last-child .portfolio__img {
	order: 1;
}

.js-click-for-video {
	transition: 0.35s ease all;
}


.js-click-for-video:hover, .js-click-for-video:active, .js-click-for-video:focus {
	transform: translateY(-10px);
}

.view-video {
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
video {
	max-width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.js-exit-video {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 40px;
	right: 40px;
	background-color: transparent;
}

.js-exit-video span {
	width: 100%;
	height: 3px;
	background: #f06449;
	position: absolute;
	top: 50%;
	left: 0;
	transition: 0.35s ease all;
}

.js-exit-video span:first-child {
	transform: rotate(45deg);
}

.js-exit-video span:last-child {
	transform: rotate(-45deg);
}

.js-exit-video:hover span, .js-exit-video:active, .js-exit-video:focus span {
	outline: none;
	background: #efefef;
}

footer {
	background-color: #16296f;
	padding: 75px 0;
}

footer h3, footer a, footer p {
	color: #fff;
	padding-bottom: 0;
	padding-left: 0;
}

footer a {
	font-weight: 300;
	text-decoration: none;
	padding-bottom: 2px;
	transition: 0.35s ease all;
	box-shadow: 0 0 0 0 #fff;
}

footer a:hover, footer a:active, footer a:hover {
	box-shadow: 0 3px 0 0 #fff;
}

@media screen and (max-width: 1015px){
	.portfolio__img {
		/*margin: 2em 0;*/
		max-width: 350px;
	}
}

@media screen and (max-width: 900px){
	.portfolio__img {
		margin: 2em 0;
		max-width: 300px;
	}
}

@media screen and (max-width: 800px){
	.intro__left {
		width: 35%;
	}
	.intro__right {
		width: 65%;
	}
	.main-copy__text-block h3, .main-copy__text-block p {
		width: 100%;
		margin: 0;
		padding-left: 25px;
	}
	.left-margin__text-block h3, .left-margin__text-block p, .third__text-block h3, .third__text-block p {
		margin: 0;
		padding-left: 0;
		padding-right: 25px;
	}
	.main-copy__img-block {
		display: none;
	}
	.portfolio__img {
		max-width: 350px;
	}
	.portfolio__text {
		width: 45%;
	}
}

@media screen and (max-width: 750px){
	.portfolio-item .wrapper {
		flex-wrap: wrap;
	}
	.portfolio__img {
		max-width: 250px;
	}
}

@media screen and (max-width: 680px){
	h1 {
		font-size: 3.5em;
	}
	h2 {
		font-size: 2em;
	}
	p {
		font-size: 1.4em;
	}
	.intro__left {
		width: 45%;
	}
	.intro__right {
		width: 55%;
	}
	.portfolio__img {
		max-width: 250px;
	}
}

@media screen and (max-width: 558px){
	.intro {
		flex-wrap: wrap;
	}
	.intro__left {
		width: 100%;
	}
	.intro__right {
		width: 100%;
	}
	.main-copy__row {
		padding: 0;
	}
	.main-copy__text-block {
		width: 100%;
		margin: 0;
		padding: 1rem 0;
	}
	.main-copy__text-block h3, .main-copy__text-block p {
		padding: 0;
	}
	.portfolio__img, .portfolio__text {
		width: 100%;
		margin: 0 auto;
	}
	.portfolio__img img {
		display: block;
		margin: 0 auto;
	}
	.portfolio__img {
		padding-bottom: 2em;
	}
	.portfolio__text {
		padding-top: 2em;
		width: 100%;
		max-width: 350px;
		text-align: center;
	}
	.portfolio-item:last-child .portfolio__text {
		order: 1;
	}

	.portfolio-item:last-child .portfolio__img {
		order: 2;
	}
}

@media screen and (max-width: 325px){
	h1 {
		font-size: 3em;
	}
}























